.carousel-slide {
  position: relative;
  width: 560px;
  height: 100%;
  background-color: $color-resolution-blue;
  overflow: auto;
  padding: 56px 60px 30px 60px;
  display: flex;

  @include vp-1199 {
    width: 566px;
    padding: 55px 64px 30px;
  }

  @include vp-767 {
    width: 226px;
    padding: 47px 22px 20px 22px;
  }
}

.carousel-slide__image {
  width: 289px;
  height: 80px;
  margin-top: 7px;

  @include vp-767 {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 41px;
    top: 40px;
    margin-top: 0;
  }
}

.carousel-slide__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  @include vp-767 {
    margin-left: 0;
  }
}

.carousel-slide__author {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @include vp-767 {
    line-height: 26px;
    padding-left: 102px;
  }
}

.carousel-slide__text-wrapper p {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-top: 12px;
  margin-bottom: 0;

  @include vp-767 {
    text-align: center;
    margin-top: 24px;
  }
}
