.carousel {
  width: 560px;
  height: 242px;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
    height: 335px;
  }
}

.carousel-wrapper {
  position: relative;
  width: 662px;
  margin: 0 auto;

  @include vp-767 {
    width: 290px;
  }
}

.carousel-button-prev {
  left: -11px;
  transform: scale(-1, 1);
}

.carousel-button-next {
  right: -11px;
}
