.slider {
  width: 100%;
  height: 294px;
  position: relative;

  @media (max-width: 1280px) {
    width: 95%;
  }

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    height: 274px;
  }
}

.slider-wrapper {
  position: relative;

  @include vp-1199 {
    width: 563px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 226px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  height: 100%;
  top: 22px;
  color: #afafaf;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: transparent;
  border: none;

  &:focus-visible {
    background-color: rgba(82, 36, 233, 0.2);
  }

  &:hover {
    background-color: rgba(82, 36, 233, 0.2);
  }

  &:active {
    background-color: rgba(82, 36, 233, 0.1);
  }

  @include vp-767 {
    background-size: 50% 50%;
  }
}

.slider-button-prev {
  left: -60px;
  transform: scale(-1, 1);

  @media (max-width: 1280px) {
    left: -16px;
  }

  @include vp-1199 {
    left: -62px;
  }

  @include vp-767 {
    left: -40px;
  }
}

.slider-button-next {
  right: -60px;

  @media (max-width: 1280px) {
    right: -16px;
  }

  @include vp-1199 {
    right: -62px;
  }

  @include vp-767 {
    right: -40px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
