.slider {
  width: min(100%, 1160px);
  height: 294px;
  position: relative;

  @include vp-767 {
    height: 274px;
  }
}

.slider__outer-wrapper {
  position: relative;

  @include vp-1199 {
    width: 563px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 226px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  height: 100%;
  top: 22px;
  color: #afafaf;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  @include vp-767 {
    background-size: 50% 50%;
  }
}

.slider-button-prev {
  left: -60px;
  transform: scale(-1, 1);

  @media(max-width: 1325px) {
    left: -20px;
  }

  @include vp-767 {
    left: -40px;
  }
}

.slider-button-next {
  right: -60px;

  @media(max-width: 1325px) {
    right: -20px;
  }

  @include vp-767 {
    right: -40px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
