.subscription {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-ghost-white;
  z-index: 1;

  @include vp-1199 {
    padding-top: 101px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.subscription__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-right: 14px;
    margin-bottom: 11px;
  }

  @include vp-767 {
    margin-right: 10px;
  }
}

.subscription__bg-img {
  position: absolute;
  bottom: -138px;
  right: 0;
  z-index: -1;
  width: 379px;
  height: 479px;
  object-position: 93px 0;

  @include vp-1199 {
    width: 350px;
    bottom: -129px;
    height: 454px;
    object-position: 0 0;
  }

  @include vp-767 {
    display: none;
  }
}
